@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
body {
  margin: 0;
  font-family: "Gowun Dodum", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255));
}
